<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}"/>
    </head>
    <body>
    <div class="wrapper">

        <div id="yearmonth">
            
        </div>
        <div id="dday">

        </div>

        <div class="calandarMove">
        <input type="button" class="move" onclick="onClickToPrev()" value="< previous">
        <input type="button" class="move" onclick="onClickToNext()" value="next >">    
        </div>
        <div class="calander">
            {% for week in calendar %}
            <div class="col-7">
                {% for day in week.week %}
                <div class="day"><a href="/diary/{{year}}{{month}}{{day.day}}">{{day.day}}
                    </a>
                {% if day.diary >= 2 %}
                <img src="{% static 'images/full_heart.svg' %}">
                {% elif day.diary == 1 %}
                <img src="{% static 'images/empty_heart.svg' %}">
                {% else %}
                {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            </div>

        <button class="questionList" onclick="onClickToList()">
            <img src="{% static 'images/question_list.svg' %}">
        </button>

        <button class="dailyBtn" onclick="onClickToDiary()">
            DAILY ver.
        </button>

        <div class="footer">
            YOUNHEE&YUMIN
        </div>
    
    </div>

    


        
    </body>
</html>
<script>
    let date = new Date();
    const first = new Date("2023-1-12");
    function onClickToList(){
        window.location.href='/questionlist/1';
    }
    function onClickToDiary(){
        window.location.href = '/dailydiary/';
    }
    function onClickToNext(){
        oneMonthAfter = new Date(date.setMonth(date.getMonth()+1));
        console.log(oneMonthAfter);
        var year = oneMonthAfter.getFullYear();
        var month = oneMonthAfter.getMonth()+1;
        window.location.href = `${year}${month}`;

    }
    function onClickToPrev(){
        oneMonthPrev = new Date(date.setMonth(date.getMonth()-1));
        console.log(oneMonthPrev);
        var year = oneMonthPrev.getFullYear();
        var month = oneMonthPrev.getMonth()+1;
        window.location.href = `${year}${month}`;

    }
    
    const renderDate = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth()+1;
        const monthList = {1 : 'JAN', 2 : 'FEB', 3 : 'MAR', 4 : 'APR', 5 : 'MAY', 6 : 'JUN', 7 : 'JUL',
                            8 : 'AUG', 9: 'SEP', 10 : 'OCT', 11: 'NOV', 12 : 'DEC'};
        const todayMonth = monthList[viewMonth.toString()];

        const diffDay= date - first;
        const dDay = Math.floor(diffDay  / (1000*60*60*24));
        

        document.querySelector('#yearmonth').textContent = viewYear+' '+todayMonth;
        document.querySelector('#dday').textContent = 'D-DAY'+' '+dDay;

    }

    renderDate();

</script>