<html>
    <head>
        <link rel="stylesheet" href="../../static/css/dailydiary.css">
        </head>
<body>    
<div class="wrapper">
    <div class="upperside">
        <button type="button" class="mintbtn" style="margin-top: 132px;" onclick="alert('클릭!')">
        <img  src="../../static/images/mint_heart.svg"/>
    </button>
        <div id="mintletter" style="margin: 0 auto;">Click to start writing</div>
        <div id="yearmonth">2023 MAY</div>
    </div>
    
    <button class="monthlybtn" onclick="alert('클릭!')">
        Monthly ver.
    </button>
    <div class="downside">
        <div id="dday">
            
        </div>
        <button type="button" class="lemonbtn" style="margin-top: 132px;" onclick="alert('클릭!')">
        <img  src="../../static/images/lemon_heart.svg"/>
    </button>
        <div style="margin: 0 auto;">Click to start writing</div>
    </div>
    <div class="footer">
        YOUNHEE&YUMIN
    </div>

    </div>
</body>


</html>
<script>
    let date = new Date();
    const first = new Date("2023-1-12");
    
    const renderDate = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth();
        const monthList = {1 : 'JAN', 2 : 'FEB', 3 : 'MAR', 4 : 'APR', 5 : 'MAY', 6 : 'JUN', 7 : 'JUL',
                            8 : 'AUG', 9: 'SEP', 10 : 'OCT', 11: 'NOV', 12 : 'DEC'};
        const todayMonth = monthList[viewMonth.toString()];

        const diffDay= date - first;
        const dDay = Math.floor(diffDay  / (1000*60*60*24));
        

        document.querySelector('#yearmonth').textContent = viewYear+' '+todayMonth;
        document.querySelector('#dday').textContent = 'D-DAY'+' '+dDay;

    }
    renderDate();

</script>