<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dailydiary.css' %}">
        </head>
<body>    


<div class="wrapper">
    {% if lemonDiary %}
    <div class="uppersideV2">
        <div style="width:200px; height:310px; margin-top:10px; background-color:#D9D9D9;">
        
        {% if lemonDiary.image %}
        <img style="width:195px; height:300px;"src='{{lemonDiary.image.url}}' alt="이미지 없음"/> 
        {% endif %}
         </div>
        <div style="width:154px; margin-left:10px;">
            <a  class="mintEdit" href="{{ lemonDiary.get_absolute_url }}">
                <img src="{% static 'images/mint_edit.svg' %}" alt="example image"> 
            </a>
            <h5>{{lemonDiary.title}}</h5>
            {{lemonDiary.content}}
        </div>

</div>
    {% else %}
    <div class="upperside">
        <button type="button" class="mintbtn" style="margin-top: 132px;" onclick="onClickToMintDiaryCreate()">
        <img  src="{% static 'images/mint_heart.svg' %}">
    </button>
        <div id="mintletter" style="margin: 0 auto;">Click to start writing</div>
    </div>
    {% endif %}
    <div id="yearmonth">2023 MAY</div>
    
    <button class="monthlybtn" onclick="onClickToCalendar()">
        Monthly ver.
    </button>
   
        {% if  mintDiary %}
        <div class="downsideV2">
            <div id="dday">
            </div>
            <div style="display:flex;flex-direction:row;width:200px; height:310px; background-color:#D9D9D9;">
                {% if mintDiary.image %}
                <img style="width:195px; height:300px;"src='{{mintDiary.image.url}}' alt="이미지 없음"/>
                {% endif %}
                <div style="width:154px; margin-left:10px;">
                    <a  class="lemonEdit" href="{{ mintDiary.get_absolute_url }}">
                        <img src="{% static 'images/lemon_edit.svg' %}" alt="example image"> 
                    </a>
                    <h5>{{mintDiary.title}}</h5>
                    {{mintDiary.content}}
                </div>
                
            
            </div>

   
        </div>
      
        {% else %}
        <div class="downside">
            <div id="dday">
            </div>
        <button type="button" class="lemonbtn" style="margin-top: 132px;" onclick="onClickToLemonDiaryCreate()">
        <img  src="{% static 'images/lemon_heart.svg' %}"/>
    </button>
        <div style="margin: 0 auto;">Click to start writing</div>
        {% endif %}
    </div>
    <div class="footer">
        YOUNHEE&YUMIN
    </div>

    </div>
</body>


</html>
<script>
    let date = new Date();
    const first = new Date("2023-1-12");

    function onClickToMintDiaryCreate(){
        window.location.href = '/diarycreate/2/';
    }
    function onClickToLemonDiaryCreate(){
        window.location.href = '/diarycreate/1/';
    }

    function onClickToCalendar(){
        window.location.href = '/calendar/';
    }
    
    const renderDate = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth()+1;
        const monthList = {1 : 'JAN', 2 : 'FEB', 3 : 'MAR', 4 : 'APR', 5 : 'MAY', 6 : 'JUN', 7 : 'JUL',
                            8 : 'AUG', 9: 'SEP', 10 : 'OCT', 11: 'NOV', 12 : 'DEC'};
        const todayMonth = monthList[viewMonth.toString()];

        const diffDay= date - first;
        const dDay = Math.floor(diffDay  / (1000*60*60*24));
        

        document.querySelector('#yearmonth').textContent = viewYear+' '+todayMonth;
        document.querySelector('#dday').textContent = 'D-DAY'+' '+dDay;

    }
    renderDate();

</script>