<html>
    <head>
        <link rel="stylesheet" href="../../static/css/dailydiary.css">
        </head>
<body>    
<div class="wrapper">
    <div class="upperside">
        {% if mintDiary %}

        <div class="diary">

            {% for p in mintDiary %}
            <div style="width: 160px; height:317px;">
        <img  style="width: 160px; height:317px; margin-right:150px; margin-left:10px; margin-top:26px; " src='{{p.image.url}}'/>
    </div>
        <div class="diary-contents">
            <!-- <div class="diary-title">{{p.title}}</div>

        <p>{{p.content | linebreaksbr}}</p> -->
        <h5 style="font-size: 15px;">TITLE : {{p.title}}</h5>
        <span style="font-size:15px;">{{p.content}}</span>
    </div>
    </div>
        {% endfor %}
        {% else %}
        <button type="button" class="mintbtn" style="margin-top: 132px;" onclick="onClickToMintDiaryCreate()">
        <img  src="../../static/images/mint_heart.svg"/>
    </button>
        <div id="mintletter" style="margin: 0 auto;">Click to start writing</div>
        {% endif %}
        <div id="yearmonth">2023 MAY</div>
    </div>
    
    <button class="monthlybtn" onclick="onClickToCalendar()">
        Monthly ver.
    </button>
    <div class="downside">
        <div id="dday">
        </div>
        {% if  lemonDiary %}
            {% for p in lemonDiary %}
            <div class="diary">
                <div style="width: 160px; height:317px;">
                    {% if p.image %}
            <img  style="width: 160px; height:317px; margin-right:150px; margin-left:10px; margin-top:26px; " src='{{p.image.url}}' alt="이미지가 없습니다."/>
                    {% else %}
                    {% endif %}
        </div>
            <div class="diary-contents">
                <div class="diary-title">{{p.title}}</div>
    
            <p>{{p.content | linebreaksbr}}</p>
            {% endfor %}
        {% else %}
        <button type="button" class="lemonbtn" style="margin-top: 132px;" onclick="onClickToLemonDiaryCreate()">
        <img  src="../../static/images/lemon_heart.svg"/>
    </button>
        <div style="margin: 0 auto;">Click to start writing</div>
        {% endif %}
    </div>
    <div class="footer">
        YOUNHEE&YUMIN
    </div>

    </div>
</body>


</html>
<script>
    let date = new Date();
    const first = new Date("2023-1-12");

    function onClickToMintDiaryCreate(){
        window.location.href = '/diarycreate/1/';
    }
    function onClickToLemonDiaryCreate(){
        window.location.href = '/diarycreate/2/';
    }

    function onClickToCalendar(){
        window.location.href = '/calendar/';
    }
    
    const renderDate = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth()+1;
        const monthList = {1 : 'JAN', 2 : 'FEB', 3 : 'MAR', 4 : 'APR', 5 : 'MAY', 6 : 'JUN', 7 : 'JUL',
                            8 : 'AUG', 9: 'SEP', 10 : 'OCT', 11: 'NOV', 12 : 'DEC'};
        const todayMonth = monthList[viewMonth.toString()];

        const diffDay= date - first;
        const dDay = Math.floor(diffDay  / (1000*60*60*24));
        

        document.querySelector('#yearmonth').textContent = viewYear+' '+todayMonth;
        document.querySelector('#dday').textContent = 'D-DAY'+' '+dDay;

    }
    renderDate();

</script>