<html>
    <head>
        <link rel="stylesheet" href="../../static/css/dailydiary.css">
        </head>
<body>    
<div class="wrapper">
    <div class="upperside">
        {% if mintDiary %}
        {% for p in mintDiary %}
        <div class="diary">
            <div style="width: 195px; height:317px;">
        <img  style="width: 195px; height:317px; margin-right:150px; margin-left:10px; margin-top:26px; " src='{{p.image.url}}'/>
    </div>
        <div class="diary-contents">
            <div class="diary-title">{{p.title}}</div>

        <p>{{p.content | linebreaksbr}}</p>
    </div>
    </div>
        {% endfor %}
        {% endif %}
        <div id="yearmonth">2023 MAY</div>
    </div>
    
    <button class="monthlybtn" onclick="onClickToCalandar()">
        Monthly ver.
    </button>
    <div class="downside">
        <div id="dday">
        </div>
        {% if  lemonDiary %}
            {% for p in lemonDiary %}
            <div class="diary">
                <div style="width: 195px; height:317px;">
            <img  style="width: 195px; height:317px; margin-right:150px; margin-left:10px; margin-top:26px; " src='{{p.image.url}}'/>
        </div>
            <div class="diary-contents">
                <div class="diary-title">{{p.title}}</div>
    
            <p>{{p.content | linebreaksbr}}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="footer">
        YOUNHEE&YUMIN
    </div>

    </div>
</body>
<script>
    let date = new Date();
    const first = new Date("2023-1-12");

    function onClickToCalandar(){
        window.location.href = '/calendar/';
    }

    const renderDate = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth()+1;
        const monthList = {1 : 'JAN', 2 : 'FEB', 3 : 'MAR', 4 : 'APR', 5 : 'MAY', 6 : 'JUN', 7 : 'JUL',
                            8 : 'AUG', 9: 'SEP', 10 : 'OCT', 11: 'NOV', 12 : 'DEC'};
        const todayMonth = monthList[viewMonth.toString()];

        const diffDay= date - first;
        const dDay = Math.floor(diffDay  / (1000*60*60*24));
        

        document.querySelector('#yearmonth').textContent = viewYear+' '+todayMonth;
        document.querySelector('#dday').textContent = 'D-DAY'+' '+dDay;

    }
    renderDate();
</script>