<!DOCTYPE html>
<html>


<head>
    <title>Couple-Diary-Main</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="3; url=/user/login"> 

</head>

<body>
<div class="wrapper">
    <div class="logo">
        LOVE MEMORY DIARY
    </div>
    <div class="box">
        <img class="mainHeart" src="{% static 'images/main_heart.svg' %}">
    </div>
    <div class="name">
        YOUNHEE&YUMIN
    </div>
</div>



</body>

</html>