<html>
    <head>

        <link rel="stylesheet" href="../../static/css/questionlist.css">

    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div id="todayQuestion">
                    TODAY'S QUESTION
                </div>
                <div id="questionTitle">
                    Q: {{question.title}}
                </div>
            </div>
            <div class="answer">
                <div class="date">
                    2023-06-17
                </div>
                <div class="answerBlock">
                    <div class="answerTitle">
                        Q:당신이 가장 좋아하는 색은?
                    </div>
                    <div class="underLine"></div>
                    <div class="answerContent">
                        윤희의 Answer:
                        나는 레몬색이 좋아~레레몬 레몬
                    </div>
                    <div class="underLine"></div>
                    <div class="answerContent">
                        유민의 Answer:
                        나는 민트색이 좋아~미미민트 민트
                    </div>
                    <div class="underBar"></div>
                </div>
            </div>
            <div class="answer">
                
                <div class="date">

                    {{question.year}}-{{question.month}}-{{question.day}}
                </div>
                <div class="answerBlock">
                    <div class="answerTitle">
                        Q:{{question.title}}
                    </div>
                    <div class="underLine"></div>
                    <div class="answerContent">
                        윤희의 Answer:
                        {% for p in lemonAnswer %}
                        {{p.content}}
                        {% endfor %}
                    </div>
                    <div class="underLine"></div>
                    <div class="answerContent">
                        유민의 Answer:
                        {% for p in mintAnswer%}
                        {{p.content}}
                        {% endfor %}
                    </div>
                    <div class="underBar"></div>
                </div>
            </div>
            



          
            <div class="footer">
                YOUNHEE&YUMIN
            </div>
        </div>
    </body>


</html>