<html>
    <head>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/todayquestion.css' %}">
    </head>

    <body>
        <div class="wrapper">
            <div class="upperside">
                <!-- <button type="button" class="mintbtn" style="margin-top: 132px;" onclick="onClickQuestion()">

                <img  src="../../static/images/mint_heart.svg"/>
            </button> -->
            {% if mintAnswer %}
            <button type="button" class="mintbtn" style="margin-top: 132px;" onclick="onClickNext()">

                <img  src="../../static/images/mint_heart.svg"/>
            </button>
                <div id="mintletter" style="margin: 0 auto;">Completed</div>
            {% else %}
            <button type="button" class="mintbtn" style="margin-top: 132px;" onclick="onClickQuestion()">

                <img  src="../../static/images/mint_heart.svg"/>
            </button>
            <div id="mintletter" style="margin: 0 auto;">Click to start writing</div>
            {% endif %}
          
            </div>
            <div class="question">
                <h1 style="font-size:28px; line-height:37.07px; color:#9AE9DB;">TODAY's QUESTION</h1>
                <h3 id="question-title" style="font-size:16px; line-height:21.18px; color:#C8C8C8;">Q.{{questionTitle}}</h3>
            </div>
            <div class="downside">
            
            {% if lemonAnswer %}
            <button type="button" class="lemonbtn" style="margin-top: 132px;" onclick="onClickNext()">
                <img  src="{% static 'images/lemon_heart.svg' %}"/>
            </button>
                <div id="lemonletter" style="margin: 0 auto;">Completed</div>
            {% else %}
            <button type="button" class="lemonbtn" style="margin-top: 132px;" onclick="onClickQuestion2()">
                <img  src="{% static images/lemon_heart.svg %}"/>
            </button>
            <div id="lemonletter" style="margin: 0 auto;">Click to start writing</div>
            {% endif %}
            {% csrf_token %}
            </div>
            <div class="footer">
                YOUNHEE&YUMIN
            </div>
            </div>
          
    
    </body>
</html>
<script>
    mintHeart = document.getElementsByClassName('mintbtn')[0];
    mintLetter = document.getElementById('mintletter');

    lemonHeart = document.getElementsByClassName('lemonbtn')[0];
    lemonLetter = document.getElementById('lemonletter');

    upperSide = document.getElementsByClassName('upperside')[0];
    downSide = document.getElementsByClassName('downside')[0];
    function onClickNext(){
        window.location.href = "/calendar/";
    }
    function onClickQuestion(){
        mintHeart.remove();
        mintLetter.remove();
        let answerForm = document.createElement('textarea');
        let mintSave = document.createElement('button');
        let mintSaveImg = new Image();
        answerForm.setAttribute('class','answerform');
        mintSave.setAttribute('class','mintbtn');
        mintSave.style.marginTop = '16px'; 
        mintSaveImg.src='../../static/images/mint_save.svg'
        mintSave.appendChild(mintSaveImg);
        upperSide.appendChild(answerForm);
        upperSide.appendChild(mintSave);
        mintSave.addEventListener("click",function(e){
            const formData = new FormData();
            let date = new Date();
            const viewYear = date.getFullYear();
            const viewMonth = date.getMonth()+1;
            const viewDay = date.getDate();
            answer = document.getElementsByClassName('answerForm')[0].value;
            title = document.getElementsByClassName('question')[1];
            formData.append('year',viewYear);
            formData.append('month',viewMonth);
            formData.append('day',viewDay);
            formData.append('content',answer);
            formData.append('title',title);
            formData.append('userpk',1)
        

            fetch('/saveanswer/', {
                method: 'POST',
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                body: formData,
                redirect: 'follow'
              })
              .then(data => {
                console.log('Success:', data);
                window.location.assign('/calandar');
              
               
              })
              .catch(error => {
                console.error('Error:', error);
              });

        });
    }

    function onClickQuestion2(){
        lemonHeart.remove();
        lemonLetter.remove();
        let answerForm = document.createElement('textarea');
        let lemonSave = document.createElement('button');
        let lemonSaveImg = new Image();
        answerForm.setAttribute('class','answerform');
        answerForm.style.marginTop = "80px";
        lemonSave.setAttribute('class','lemonbtn');
        lemonSave.style.marginTop = '16px'; 
        lemonSaveImg.src='../../static/images/lemon_save.svg'
        lemonSave.appendChild(lemonSaveImg);
        downSide.appendChild(answerForm);
        downSide.appendChild(lemonSave);
        lemonSave.addEventListener("click",function(e){
            const formData = new FormData();
            let date = new Date();
            const viewYear = date.getFullYear();
            const viewMonth = date.getMonth()+1;
            const viewDay = date.getDate();
            answer = document.getElementsByClassName('answerForm')[0].value;
            title = document.getElementsByClassName('question')[1];
            formData.append('year',viewYear);
            formData.append('month',viewMonth);
            formData.append('day',viewDay);
            formData.append('content',answer);
            formData.append('title',title);
            formData.append('userpk',2);
            console.log('answer',answer);

            fetch('/saveanswer/', {
                method: 'POST',
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                body: formData,
                redirect: 'follow'
              })
              .then(res => {
                console.log('Success:', res);
                window.location.assign('/calendar');
             
               
              })
              .catch(error => {
                console.error('Error:', error);
              });

        });
    }

    
 </script>
