input{
    border:0 solid black;
    background-color: transparent;
}


.wrapper{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 800px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

button.mintbtn{
    border: 0;
    outline: 0;
    background-color:#FFF8B6; ;
}
button.lemonbtn{
    border: 0;
    outline: 0;
    background-color:#9AE9DB; ;
}

.upperside{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:360px;
    height:390px;
    background-color: #FFF8B6;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.48px;
    color:#9AE9DB;
}

.uppersideV2{
    display: flex;
    position:relative;
    /* flex-direction: row; */
    width:360px;
    height:390px;
    background-color: #FFF8B6;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.48px;
    color:#9AE9DB;
}


.diary-contents{
    margin-left: 10px;
    margin-top: 27.83px;
    margin-right:16px;
    float: left;
    width:129px;
    height: 241px;;
}
.diary-title{
    width: 100px;
    height: 24px;
    font-size: 10px;
    font-weight: 400;
    line-height: 26.48;

}
.diary-content{
    width: 129px;
    height: 241px;
    font-size: 9px;
    font-weight: 400;
    line-height: 16px;

}


#yearmonth{
    margin-top: 340px;
    margin-left: 6px;
    margin-right: 190px;
    position: absolute;
    width: 180px;
    height: 32px;
    font-size: 32px;
    font-weight: 400;
    line-height: 42.37px;
    color: #9AE9DB;
  
}

.downside{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:360px;
    height:390px; 
    background-color: #9AE9DB;
    font-weight: 400;
    font-size: 20px;
    line-height: 26.48px;
    color:#FFF8B6;
}

.downsideV2 {
display: flex;
position:relative;
flex-direction: row;
width: 360px;
height:390px;
background-color: #9AE9DB;
font-weight: 400;
font-size: 20px;
line-height: 26.48px;
color:#FFF8B6;
/* flex-direction: column; */
}
#dday{
    width: 360px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    /* z-index: 1; */
    height: 32px;
    text-align: justify;
    background-color: #9AE9DB;
}

.monthlybtn{
    margin-top: 369px;
    margin-right: 9px;
    margin-left: 248px;
    width:91px;
    height:29px;
    position: absolute;
    background-color: #F6FAF9;
    border-radius:30px;
    border: 0px solid;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #9AE9DB;
    z-index:1;
}

.footer{
    margin-top:3px;
    margin-left:133px;
    margin-right:133px;
    text-align: center;
    width:93px;
    height:8px;
    color : #9AE9DB
}

a.mintEdit{
    margin-top:10px;
    margin-left: 120px;
    margin-right:9px;

}
a.lemonEdit{
    margin-top: 0px;
    margin-right: 314px;
    margin-left: 110px;

}